* {
    padding: 0;
    margin: 0;
    
}

body {
    background: url(../img/trees_background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

p, a, h1 {
    font-family: sans-serif;
    text-decoration: none;
}

.header_text {
    color: #fae8c4;
    
}

.title {
    font-size: 1.5em;
    margin-bottom: 18px;
    
}

.container {
    width: 720px;
    height: auto;
    border: #c13c31 solid 2px;
    
}

.header_img {
    background-image: url(../img/banner.jpg);
    height: 300px;
    width: 100%
    
}

.header {
    background-color: #c13c31;
    height: 60px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.header_link {
    width: 25%;
    display: flex;
    justify-content: center;
    
}

.article {
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    height: auto;
    background-color: rgba(223, 231, 197, 0.8);
}

.article_bottom {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    
    
}

.article_bottom_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.img_frame {
    height: 410px;
    width: 358px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}

img {
    width: 348px;
    height: 400px;
    
}

